.emptable {
    margin-left: 259px;
    margin-right: 50px;
    margin-top: 71px;
}

th {
    font-size: 11px;
    text-align: center;
}

td {
    font-size: 12px;
    text-align: center;
}

.btns {
    gap: 10px;
    display: flex;

}

.editform {
    margin-left: 20rem;
    width: 35rem;
}

.modal-dialog {
    max-height: 80vh !important;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}