<!-- A card for display logged employee details starts -->

<div class="profile-card">
  <!-- personal details section -->
  <div class="personal-details">
    <p class="text-warning tex-center">Personal-Details</p>

    <div class="row">
    <hr>
    </div>
    <!-- logged employee details  -->
    <p>Employee ID: {{ employeeUser?.id }}</p>
    <p>Name: {{ employeeUser?.name |titlecase}}</p>
    <p>Gender: {{ employeeUser?.gender |titlecase }}</p>
    <p>Age: {{ employeeUser?.age }}</p>
    <p>Date of Birth: {{ employeeUser?.dob }}</p>
    <p>Blood Group: {{ employeeUser?.Blood_group }}</p>
    <p>Mobile Number: {{ employeeUser?.phone }}</p>
    <p>Email Id: {{ employeeUser?.email }}</p>
    <p>Position: {{ employeeUser?.position |titlecase}}</p>
    <p>Salary: {{ employeeUser?.package }}</p>
    <p> Current Leaves in the month: {{ employeeUser?.leaves }}</p>
    <p> Your Current Status: {{ employeeUser?.status }}</p>
  </div>
  <!-- logged employee image -->
  <div class="img">
    <img [src]="employeeUser?.image" alt="Employee Image" class="emp-image">
  </div>
 <!-- login credentials section -->
  <div class="login-details">
    <h3 class="text-warning">Login Credentials</h3>
    <hr>
    <p>Username: {{ employeeUser?.username }}</p>
    <p>Password: {{ employeeUser?.password }}</p>
  </div>
</div>
<!-- A card for display logged employee details ended -->
